footer {
  width: 99vw;
  text-align: center;
  color: black;
}

.card-group {
  margin-top: 20px;
  background-color: rgb(247, 247, 247, 247);
}

.cartao {
  border: none;
  border-radius: 0;
  background-color: rgb(247, 247, 247, 247);
}

.linkedin-logo {
  height: 20px;
  width: 20px;
}

.github-logo {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 10px;
}

.icons-grid img {
  height: 40px;
  width: 40px;
}

.tech-row {
  margin-bottom: 5%;
  padding-left: 0%;
  margin-left: -23%;
}

.cartao-titulo {
  font-size: 1.5rem;
  font-weight: bold;
}

.member {
  align-self: center;
  text-align: center;
  width: 100%;
}

.member a {
  margin-right: 5%;
}

.member-name {
  text-align: right;
  padding: 0;
  margin: 0;
}

.member-midia {
  text-align: left;
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  footer {
    display: none;
    text-align: center;
  }

  .members {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .member {
    align-self: center;
    margin-bottom: 10%;
    padding-left: 0%;
  }

  .member-name {
    text-align: center;
    padding: 0;
    margin: -5%;
  }

  .member-midia {
    text-align: center;
    margin-left: 0;
  }

  .icons-grid {
    max-width: 90vmax;
  }
}
